<p id = "comment-<%= comment._id %>">
    <!-- <%= comment.user %> -->
    <span>
        <small>
                <% if(comment.user.avatar) { %>
                    <img src="<%= comment.user.avatar %>" alt="Img" style="width: 17px; border-radius: 50%;">

                <% } else { %> 

                    <i class="fas fa-user"></i>

                 <% } %>


        </small>

        <small>
            <%= comment.user.name %>
        </small>
    <span>

        <br>

    <span>
        <span id="comment-data">
            <%= comment.content %>
        </span>
    

        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <i class="fas fa-thumbs-up"></i>    
                    <%= comment.likes.length %> Likes
                </a>
            <% } else { %>
                <%= comment.likes.length %> Likes
            <% } %>
        </small>


        <% if(locals.user && locals.user.id == comment.user) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">
                    
                    <i class="fas fa-trash-alt" id="deleteicon2"></i>

                </a>
            </small>

        <% } %>

        
    </span>
    
</p>