
<li id="post-<%= post._id %>" class="particular-post">
  
    <!-- <div id="particular-post"> -->

        <p>
            <small>
                <span>
                    <% if(post.user.avatar) { %>
                        <img src="<%= post.user.avatar %>" alt="Img" style="width: 17px; border-radius: 50%;">
        
                    <% } else { %>
        
                        <i class="fas fa-user"></i>
        
                    <% } %>
                    
                </span>
                <span>
                    <%= post.user.name %>
                </span>
            </small>

            <% if(locals.user && locals.user.id == post.user.id){ %>

                <small>
                    <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                        <i class="fas fa-backspace" id="deleteicon"></i>
                    </a>
                </small>

                <% } %>

                    <div id="post-content">
                        <%= post.content %>
                    </div>

                    <br>

                    <small>
                        <% if (locals.user){ %>
                            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                                <i class="fas fa-thumbs-up"></i>    
                                <%= post.likes.length %> Likes
                            </a>
                        <% }else{ %>
                            <%= post.likes.length %> Likes
                        <% } %>
                    </small>
        </p>

        <div class="post-comments">

            <% if(locals.user) { %>

                <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">
                    <input type="text" name="content" placeholder="Type Here..." required>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Add Comment" id="post-comment-button">
                </form>

                <% } %>

                    <div class="post-comments-list">
                        <ul id="post-comments-<%= post._id %>">

                            <h1>
                                <i class="fas fa-comment"></i>

                                <%= post.comments.length %>
                                    Comments
                            </h1>

                            <% for(comment of post.comments) { %>

                                <%- include('_comment') -%>

                            <% } %>

                        </ul>
                    </div>

        </div>

    <!-- </div> -->

</li>