<html>
    <head>
        <title>
            <%= title %>
        </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/69891a8400.js" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/user_profile.css">
        <link rel="stylesheet" href="/css/sign-in.css">
        <link rel="stylesheet" href="/css/sign-up.css">
        <link rel="stylesheet" href="/css/home.css">
        <%- style %>
    </head>

    <body>
        
        <%- include('_header'); %>

        <!-- no need of this because we are using the noty.js so that code is below in the script tag -->

        <!-- <% if(flash.success && flash.success.length > 0) { %>

            <h5>
                <%= flash.success %> 
            </h5>

        <% } %> -->

        <div id="main-body">
            <%- body %> 
        </div>
        
        <%- include('_footer'); %>
         
        <%- script %>

        <script>
            <% if(flash.success && flash.success.length > 0) { %>

                new Noty({
                    theme: 'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                }).show();

            <% } %>

            <% if(flash.error && flash.error.length > 0) { %>

                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();

            <% } %>

            
            <% if(flash.info && flash.info.length > 0) { %>

                new Noty({
                    theme: 'relax',
                    text: "<%= flash.info %>",
                    type: 'info',
                    layout: 'topRight',
                    timeout: 2000
                    
                }).show();

            <% } %>

        </script>
        
    </body>
</html>